/*
  ========================================
  Global Imports
  ========================================
*/
/*============================================
Variables
=============================================*/
/*============================================
Place holders / Extends
=============================================*/
.main-header, .main-footer-desktop, #control-footer-background-color, .main-footer-mobile {
  background: lightgray; }

.navigation li, .navigation a, #portfolio {
  background: white; }

.navigation a, .footer-navigation {
  color: black; }

.navigation a, .main-footer-desktop, .main-footer-mobile a, .footer-navigation {
  text-decoration: none; }

/*============================================
Mixins
=============================================*/
/*
  ========================================
  Base imports
  ========================================
*/
/*
  ========================================
  Global Layout Settings
  ========================================
*/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  max-width: 1200px; }

a:hover {
  cursor: pointer; }

/**************************** 
Clear float   
*****************************/
.clear-fix {
  clear: both;
  display: table;
  content: ""; }

/*
  ========================================
  Layout imports
  ========================================
*/
/******************************* 
Navigational and Header Settings 
********************************/
.main-header {
  padding-top: 40px; }
  @media (min-width: 768px) {
    .main-header {
      max-width: 1200px;
      margin-bottom: 40px; }
      .main-header li {
        display: inline-block;
        padding-left: 20px; } }

.container-heading {
  padding-bottom: 20px; }
  @media (min-width: 1024px) {
    .container-heading {
      width: 50%;
      float: left; }
      .container-heading h2 {
        text-align: left;
        padding-left: 60px; } }

.navigation ul {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  width: 80%; }
.navigation li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px; }
.navigation a {
  font-size: 500;
  font-weight: 1.5;
  color: #013E62; }

.header-info img {
  width: 55%;
  margin-top: 20px;
  margin-bottom: 25px; }
.header-info p {
  width: 85%;
  padding-bottom: 20px;
  font-family: 'Lato', Georgia,  Helvetica, Verdana, Arial, sans-serif;
  font-size: 1.2em; }
@media (min-width: 768px) {
  .header-info div {
    width: 50%;
    float: right; }
    .header-info div p {
      text-align: left; }
  .header-info p {
    padding-top: 10px; }
  .header-info img {
    width: 85%;
    padding-right: 25px; } }
@media (min-width: 1024px) {
  .header-info {
    padding-top: 40px; }
    .header-info p {
      font-size: 1.1em;
      font-family: 'Nunito', sans-serif; }
    .header-info img {
      width: 85%; } }

/*
  ========================================
  Settings for Desktop
  ========================================
*/
@media (min-width: 1024px) {
  .container-navigation {
    width: 50%;
    float: left; }
    .container-navigation ul {
      text-align: right;
      padding-right: 15px;
      font-size: 1em;
      font-weight: bold; }
    .container-navigation a {
      text-align: right;
      padding-right: 15px;
      font-size: 1em;
      font-weight: bold; }
    .container-navigation li {
      display: inline;
      padding: 0; } }

/**************************** 
Portfolio Layout for Mobile 
*****************************/
#portfolio {
  margin-top: 20px;
  margin-bottom: 20px; }
  #portfolio h2 {
    padding-bottom: 20px; }
  @media (min-width: 768px) {
    #portfolio {
      width: 90%;
      margin: 0 auto 20px auto; } }

.figures p {
  width: 80%;
  padding: 10px 20px;
  margin: auto auto 20px auto; }
.figures img {
  width: 80%;
  padding: 10px 20px; }
.figures figcaption {
  font-weight: bold; }
@media (min-width: 768px) {
  .figures {
    margin: 10px auto;
    width: 50%;
    float: left; }
    .figures p {
      width: 100%;
      padding: 0;
      width: 80%; }
    .figures img {
      width: 100%; } }
@media (min-width: 1024px) {
  .figures {
    width: 33%; } }

/**************************** 
Contact Layout  
*****************************/
#contact {
  width: 100%;
  background: #ffe0cc; }
  #contact h2 {
    padding-top: 50px; }
  #contact p {
    padding: 15px; }
    #contact p:nth-child(4) {
      padding: 15px 15px 40px 15px; }
  @media (min-width: 768px) {
    #contact p {
      margin: 20px auto;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 20%;
      padding-right: 20%;
      text-align: center; } }

/**************************** 
Skills Layout  
*****************************/
#skills {
  margin: 20px auto; }
  #skills li {
    margin: 20px auto;
    color: green;
    list-style: none; }
    #skills li:hover {
      font-size: 1.2em; }

/*
  ========================================
  Settings for Tablet
  ========================================
*/
@media (min-width: 768px) {
  .navigation li {
    background: lightgray;
    margin: 0 auto 30px auto; }
  .navigation a {
    background: lightgray;
    margin: 0 auto 30px auto; } }

/**************************** 
Footer Layout for mobile
*****************************/
.main-footer-desktop {
  display: none;
  /** Make desktop footer disappear for mobile devices **/ }
  @media (min-width: 768px) {
    .main-footer-desktop {
      display: block;
      font-size: 0.7em; }
      .main-footer-desktop a {
        text-decoration: none;
        color: black;
        float: right; } }

@media (min-width: 768px) {
  #control-footer-background-color {
    background: gray;
    margin-left: 15px;
    margin-right: 15px; } }

.main-footer-mobile {
  width: 90%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid darkgray; }
  .main-footer-mobile div {
    width: 50%;
    float: left; }
  .main-footer-mobile h2 {
    float: left;
    text-align: left;
    font-size: 0.7em; }
  .main-footer-mobile a {
    text-decoration: none;
    color: black;
    float: right;
    font-size: 0.7em; }
  @media (min-width: 768px) {
    .main-footer-mobile {
      display: none; } }

@media (min-width: 768px) {
  .footer-navigation ul {
    text-align: right;
    text-transform: uppercase;
    padding-left: 20px; }
  .footer-navigation l {
    text-align: right;
    text-transform: uppercase;
    padding-left: 20px; }
  .footer-navigation li {
    display: inline-block;
    list-style-type: none; }
  .footer-navigation a {
    text-align: right;
    text-transform: uppercase;
    padding-left: 20px; } }

/**************************** 
Footer Layout for Tablet 
*****************************/
@media (min-width: 768px) {
  .footer-container div {
    width: 50%;
    float: left;
    padding-top: 15px;
    padding-bottom: 40px;
    border-top: 1px solid darkgray; } }

@media (min-width: 768px) {
  .footer-heading h2 {
    text-align: left; } }

/*# sourceMappingURL=application.css.map */
