//Background for Header and Footer
%backgroundForHeaderAndFooter {
	background: lightgray;
}

//Background for portfolio
%portfolioBackground {
	background: white;
}

%linkColor{
	 color: black;   
}

%decoration {
	text-decoration: none;
}

//Navigational links position
%position {
	float: right;
}