/**************************** 
Footer Layout
*****************************/

.main-footer-desktop {
   
     @extend %backgroundForHeaderAndFooter;
     @extend %decoration;
    display: none;   /** Make desktop footer disappear for mobile devices **/
    @media (min-width:$breakpoint-tablet) {
          display: block;
         font-size: 0.7em;
         a {
         @include footer-link();
         }
    }
}

#control-footer-background-color {
     @extend %backgroundForHeaderAndFooter;
     @media (min-width:$breakpoint-tablet) {
        background: gray;
        margin-left: 15px;
        margin-right: 15px;
     }
}

.main-footer-mobile {
    @extend %backgroundForHeaderAndFooter;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid darkgray;

    div{
       width: 50%;
       float: left;
    }

     h2 {
        float: left;    
        text-align: left;
        font-size: 0.7em;
    }

    a{
        @include footer-link();
        @extend %decoration;
        font-size: 0.7em;
    }

     @media (min-width: $breakpoint-tablet) {     
      display: none;
    
     }
}



.footer-navigation{   
    @extend %linkColor; 
    @extend %decoration; 

    @media (min-width:$breakpoint-tablet) {
    ul {@include footer-text;}

    l {
        @include footer-text;           
        }
    li {
        display: inline-block;       
        list-style-type: none;       
    }    
    a{@include footer-text;}

    }
}



/**************************** 
Footer Layout for Tablet 
*****************************/ 

      .footer-container {

         div {
              @media (min-width: $breakpoint-tablet) {
                width: 50%;
                float: left;       
                padding-top: 15px;
                padding-bottom: 40px;
                border-top: 1px solid darkgray;  
                }
            }
    }
    
    .footer-heading {
     h2{
        @media (min-width: $breakpoint-tablet) {
            text-align: left;
        }
    }


}