/**************************** 
Footer Layout for mobile
*****************************/

.main-footer-desktop {
     @extend %backgroundForHeaderAndFooter;
     @extend %decoration;
    display: none;   /** Make desktop footer disappear for mobile devices **/
}

#control-footer-background-color {
     @extend %backgroundForHeaderAndFooter;
}

.main-footer-mobile {
    @extend %backgroundForHeaderAndFooter;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid darkgray;
}

.main-footer-mobile { 
div{
   width: 50%;
   float: left;
}

 h2 {
    float: left;    
    text-align: left;
    font-size: 0.7em;
}

a{
    @extend %decoration;
    font-size: 0.7em;
}

}


.main-footer-mobile a,
.main-footer-desktop a{
    text-decoration: none;
    color: black;
    float: right;
}

.footer-navigation{   
    @extend %linkColor; 
    @extend %decoration; 
}