
/******************************* 
Navigational and Header Settings 
********************************/


.main-header {
    @extend %backgroundForHeaderAndFooter;
    padding-top: 40px;
    @media (min-width:$breakpoint-tablet) {
        max-width: 1200px;    
        margin-bottom: 40px;
        li {
        display: inline-block;
        padding-left: 20px;
    }
    } 
     
}
.container-heading {
    padding-bottom: 20px;
    @media (min-width:$breakpoint-desktop) {
        width: 50%;
        float: left;
        h2 {
           text-align: left;
           padding-left: 60px;
        }
    }
}

.navigation { 
     ul {
        list-style-type: none;
        text-transform: uppercase;
        text-align: center;
        width: 80%
    }

    li {    
         @extend %whiteBackground;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }
    a { 
        @include header-link(500, 1.5, $color-astronaut-blue);
        @extend %linkColor;
        @extend %decoration;
        @extend %whiteBackground;        
    }

}



 
.header-info  {
   img {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 25px;
   }

   p {
    width: 85%;   
    padding-bottom: 20px;
    font-family: 'Lato', Georgia,  Helvetica, Verdana, Arial, sans-serif;
    font-size: 1.2em;
    }

    @media (min-width:$breakpoint-tablet) {          

            div {
                width: 50%;
                float: right; 

                p {           
                text-align: left;       
                }         
            }      
            

            p {
                padding-top: 10px;
            }

            img {
                width: 85%;
                padding-right: 25px;
            }    
    }

    @media (min-width: $breakpoint-desktop) {
     padding-top: 40px;

            p{
            font-size: 1.1em;
            font-family: 'Nunito', sans-serif;         
            }
            img {
            width: 85%;
            }
    }
   
}

/*
  ========================================
  Settings for Desktop
  ========================================
*/
    
        .container-navigation {
            @media (min-width: $breakpoint-desktop) {
                width: 50%;
                float: left;

                ul {
                    @include desktop-container();
                }

                a {
                    @include desktop-container();
                }

                li {
                display: inline;            
                padding: 0;
                }
        }         


}




