
/******************************* 
Navigational and Header Settings 
********************************/


.main-header {
    @extend %backgroundForHeaderAndFooter;
    padding-top: 40px;
}
.container-heading {
    padding-bottom: 20px;
}

.navigation { 
 ul {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    width: 80%
}

li {    
     @extend %whiteBackground;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
a { 
    @extend %linkColor;
    @extend %decoration;
    @extend %whiteBackground;
    font-weight: 500;
    font-size: 1.5em;
}

}



 
.header-info  {
   img {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 25px;
   }

   p {
    width: 85%;   
    padding-bottom: 20px;
    font-family: 'Lato', Georgia,  Helvetica, Verdana, Arial, sans-serif;
    font-size: 1.2em;
    }
   
}




