    




    /**************************** 
    Portfolio Layout for Mobile 
    *****************************/

    #portfolio {
        @extend %whiteBackground;
        margin-top: 20px;
        margin-bottom: 20px;

        h2 {
        padding-bottom: 20px;
        }

        @media (min-width:$breakpoint-tablet) {
             width: 90%;
            margin: 0 auto 20px auto;
        }
    }


    .figures {
        p {  
            @include img-width-padding();         
            margin: auto auto 20px auto;
        }

        img {
             @include img-width-padding(); 
        }

         figcaption {
            font-weight: bold;
        }

        @media (min-width:$breakpoint-tablet) {
            margin: 10px auto;
            width: 50%;
            float: left;
            p {
            width: 100%;
            padding: 0;
            width: 80%;
            }
            img {
              width: 100%;
            }
        }

        @media (min-width: $breakpoint-desktop) {
            width: 33%;
        }  
    }

    /**************************** 
    Contact Layout  
    *****************************/

    #contact {   
        width: 100%;
        background: $color-tuftbush;

        h2 { 
        padding-top: 50px;
        }

        p { 
        padding: 15px;
            &:nth-child(4) { 
            padding: 15px 15px 40px 15px;
            }
        }

        @media (min-width: $breakpoint-tablet) {
            p {
            margin: 20px auto;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 20%;
            padding-right: 20%;
            text-align: center;
            }
        }  

    }


    


    /**************************** 
    Skills Layout  
    *****************************/
    #skills {
     margin: 20px auto;
        li {
            margin: 20px auto;
            color: $color-green;   
             list-style: none; 

            &:hover {
                font-size: 1.2em;
             }
        }
    }

/*
  ========================================
  Settings for Tablet
  ========================================
*/
   
        .navigation {
            @media (min-width: $breakpoint-tablet) { 
             li {@include navigation-margin();}
             a {@include navigation-margin();}
            }
        }
