/*
  ========================================
  Global Layout Settings
  ========================================
*/


* {    
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
    max-width: 1200px;   
}
body {
    @extend %whiteBackground;
}
a:hover {
    cursor: pointer;
}

/**************************** 
Clear float   
*****************************/
.clear-fix {
    clear: both;
    display: table;
    content: "";
}